<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'layout/head' %}
</head>

<body>
  <main class="wrapper">
    <section class='header'>
      <div class="banner">
        <img src="{{ 'images/safety.jpg' | asset_url }}" alt="" />
     </div>
    </section>

    <section id="content" class="container">
      <div class="row row-center">
        <div class="column column-center">
        {{ content_for_layout }}
        </div>
      </div>
    </section>
  </main>
</body>
</html>
